{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6 my-5">
				<form method="post" class="needs-validation" novalidate>
					{% if error %}
						<div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="alert alert-info mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ logout_path() }}" class="alert-link">Logout</a>
						</div>
					{% endif %}

					<h1 class="h3 mb-4 font-weight-normal text-center">Connexion</h1>

					<div class="mb-3">
						<label for="username" class="form-label">Email</label>
						<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
					</div>

					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
					</div>

					<input
					type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

					{#
					            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					            See https://symfony.com/doc/current/security/remember_me.html
					
					            <div class="form-check mb-3">
					                <input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-input">
					                <label class="form-check-label" for="_remember_me">Remember me</label>
					            </div>
					        #}

					<button class="btn btn-lg btn-primary w-100 mt-4" type="submit">
						<i class="bi bi-box-arrow-in-right"></i>
						Sign in
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

